<div id = "maincontainer">
	<%= render 'shared/header'%>

	<%= javascript_include_tag "jquery.js", "map.js" %>
	<%= stylesheet_link_tag "map.css", "mobile.css" %>
	<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true" %>

	<div id = "main">
		<div id = "mapDiv">
			<div id="map_canvas">
			
			</div>
		
		</div>
		
		<div id = "accountinfo">
			<div class = "headlineholder">Your info</div>
			<div class = "subdescholder">Name: Rameen Aryanpur<br />Age: 22<br />Member Since: December 2011 <br />Challenges Completed: 0</div>
			<%= image_tag "iphonewaistmeasurement.jpg", :alt => 'waist' %>
		<div>
	
	</div>
	
	</div>
</div>

<script>getGeoLocation()</script>
