<div id = "maincontainer">
	<%= render 'shared/header'%>

	<%= javascript_include_tag "jquery.js", "map.js" %>
	<%= stylesheet_link_tag "map.css", "mobile.css" %>
	<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true" %>

	<div id = "main">
		
		<div id = "challenges">
			<h1>Current Location Challenges.</h1>
			<h2>Click for a better description</h2>
			<% unless LocationChallenge.all.empty? %>
				<table class="location_challenges" summary="Location Microposts">
				<% counter  = 1 %>
				<% for loc in LocationChallenge.all %>	
					<tr>
						<td><%= counter %></td>
						<td><%= link_to loc.title, "/location_challenges/#{loc.id}" %></td>
					</tr>			
					<% counter = counter + 1 %>
					<script> placeChallengeMarkers(<%= loc.latitude %>, <%= loc.longitude %>) </script>
				<% end %>
				</table>
			<% end %>
		</div>
		
		
		<div id = "mapDiv">
			<div id="map_canvas">
			
			</div>
		
		</div>
		
		<div id = "accountinfo">
			<div class = "headlineholder">Your info</div>
			<div class = "subdescholder">Name: <%= current_user.first_name%> <%= current_user.last_name%><br />Member Since: <%= current_user.created_at.to_formatted_s(:month_and_year) %> <br />Challenges Completed: <%= current_user.feats.size%></div>
				<p>Recent Challenges</p>
				
				
					<% current_user.feats.each do |f|%>
					<p>
						<span>Challenge: <%= f.location_challenge.title %></span>
						<% if f.complete? %>
						<span class = "completed">Completed: <%= time_ago_in_words(f.updated_at) + " ago"%></span>
						<% else %>
						<span class = "incomplete">Incomplete: <%= time_ago_in_words(f.updated_at) + " ago"%></span>
						<% end %>
					</p>
					<% end%>
					
				
		<div>
	
	</div>
	
	</div>
</div>

<script>getGeoLocation()</script>
